/* ===== Universal Styles ===== */

* {
    box-sizing: border-box;
}

/* ===== Element Styles ===== */

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

input {
    max-width: 500px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #bebebe;
    outline: 0;
}

img {
    max-width: 100%;
}

/* ===== Class Styles ===== */

.gallery {
    max-width: 875px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(3, minmax(200px, 1fr));
}