* {
    box-sizing: border-box;
    margin: auto;
}

.gallery {
    max-width: 875px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    grid-gap: 25px;
}

img {
    max-width: 100%;
}